body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: white;
    padding: 10px 20px;
    color: white;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.navbar-logo {
    font-size: 24px;
    text-decoration: none;
    color: black;
    font-family: initial;
}

.mn {
    color: orangered;
}

.navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-menu li {
    margin: 0 25px;
}

.navbar-menu a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    transition: color 0.3s;
}

.navbar-menu a:hover {
    color: blue;
}

.navbar-social {
    display: flex;
}

.social-icon {
    text-decoration: none;
    color: black;
    margin-left: 20px;
    font-size: 20px;
    transition: color 0.3s;
}

.social-icon:hover {
    color: blue;
}
h1 {
    text-align: center;
}
.zizo {
    display: flex;
    justify-content: center;
}
.zoz {
    width: 40px;
    height: 40px;
    border-radius: 25px;
}
.image {
   display: flex;
   justify-content: center;
   /* align-items: center; */
}
.mm {
    padding: 12px;
}
.pp {
    display: flex;
    justify-content: center;
    /* top: 50%; */
    text-align: center;
    padding: 0px 60px;
}
.cc {
    padding: 0px 25px;
}
.kk {
    text-align: center;
    color: gray;
}
.gogo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.photo {
    /* position: absolute; */
    width: 1200px;
    height: 600px;
    border-radius: 30px;
}
.soc {
    position: absolute;
    bottom: 140px;
}
.adham {
    padding: 10px 300px;
}
.xx {
    padding: 10px 300px;
}
.vv {
    width: 800px;
    height: 400px;
    border-radius: 20px;
}
.aa {
    padding: 10px 300px;
}
.rr {
   padding: 10px 30px;
   background-color: lightcyan;
   margin: 10px 550px;
}
.gg {
    padding: 10px 300px;
}
.zz {
    position: relative;
    text-align: center;
    background-color: lightcyan;
    margin: 20px 100px;
    padding: 100px;
    overflow: hidden;
    border-radius: 60px;
}
.email {
    padding: 30px 140px;
    position: relative;
    border-radius: 24px;
}
.button {
    background-color: black;
    color: white;
    position: absolute;
    bottom: 110px;
    right: 443px;
    width: -30px;
    padding: 21px 36px;
    border-radius: 18px;
}
.src {
    position: absolute;
    width: 480px;
    bottom: -175px;
    right: -160px;
    border-radius: 50px;
    margin: 1px;
}
.ww {
    position: absolute;
    width: 480px;
    bottom: -160px;
    left: -150px;
    border-radius: 70px;
    margin: 1px;
    transform: rotate(20deg);
}
.ee {
    display: flex;
    justify-content: center;
}
.photos {
    position: relative;
}
.a {
    position: absolute;
    width: 290px;
    height: 200px;
    left: 80px;
    border-radius: 20px;
}
.b {
    position: absolute;
    width: 290px;
    height: 200px;
    left: 410px;
    border-radius: 20px;
}
.c {
    position: absolute;
    width: 290px;
    height: 200px;
    left: 740px;
    border-radius: 20px;
}
.e {
    position: absolute;
    width: 290px;
    height: 200px;
    left: 1070px;
    border-radius: 20px;
}
.btn {
    position: absolute;
    left: 315px;
    bottom: -51px;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    outline: none;
    border: none;
    color: grey;
}
.btn1 {
    position: absolute;
    left: 648px;
    bottom: -51px;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    outline: none;
    border: none;
    color: grey;
}
.btn2 {
    position: absolute;
    left: 980px;
    bottom: -52px;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    outline: none;
    border: none;
    color: grey;
}
.btn3 {
    position: absolute;
    left: 1308px;
    bottom: -54px;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    outline: none;
    border: none;
    color: grey;
}
.types {
    position: relative;
}
.ah {
    position: absolute;
    bottom: -238px;
    left: 80px;
    font-size: 18px;
}
.bh {
    position: absolute;
    bottom: -238px;
    left: 410px;
    font-size: 18px;
}
.ch {
    position: absolute;
    bottom: -238px;
    left: 745px;
    font-size: 18px;
}
.eh {
    position: absolute;
    bottom: -238px;
    left: 1070px;
    font-size: 18px;
}
.time {
    position: relative;
}
.time1{
    position: absolute;
    bottom: -248px;
    left: 85px;
    text-decoration: none;
    color: black;
}
.time2 {
    position: absolute;
    bottom: -248px;
    left: 415px;
    text-decoration: none;
    color: black;
}
.time3 {
    position: absolute;
    bottom: -248px;
    left: 750px;
    text-decoration: none;
    color: black;
}
.time4 {
    position: absolute;
    bottom: -248px;
    left: 1080px;
    text-decoration: none;
    color: black;
}
.minute {
    position: relative;
}
.minute1 {
    position: absolute;
    bottom: -228px;
    left: 115px;
}
.minute2 {
    position: absolute;
    bottom: -228px;
    left: 445px;
}
.minute3 {
    position: absolute;
    bottom: -228px;
    left: 780px;
}
.minute4 {
    position: absolute;
    bottom: -228px;
    left: 1110px;
}
.fork {
    position: relative;
}
.fork1 {
    position: absolute;
    bottom: -193px;
    left: 230px;
    text-decoration: none;
    color: black;
}
.fork2 {
    position: absolute;
    bottom: -193px;
    left: 560px;
    text-decoration: none;
    color: black;
}
.fork3 {
    position: absolute;
    bottom: -193px;
    left: 900px;
    text-decoration: none;
    color: black;
}
.fork4 {
    position: absolute;
    bottom: -193px;
    left: 1225px;
    text-decoration: none;
    color: black;
}
.texts {
    position: relative;
}
.text1 {
    position: absolute;
    bottom: -190px;
    left: 258px;
}
.text2 {
    position: absolute;
    bottom: -190px;
    left: 590px;
}
.text3 {
    position: absolute;
    bottom: -190px;
    left: 930px;
}
.text4 {
    position: absolute;
    bottom: -190px;
    left: 1255px;
}
.links {
    position: relative;
}
.text6 {
    position: absolute;
    bottom: -390px;
    left: 50px;
    padding: 20px;
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.lorem5 {
    position: absolute;
    bottom: -440px;
    left: 50px;
    padding: 20px;
    color: gray;
}
.home {
    position: absolute;
    bottom: -390px;
    left: 1060px;
}
.about {
    position: absolute;
    bottom: -390px;
    left: 1180px;
}
.ser {
    position: absolute;
    bottom: -390px;
    left: 1290px;
}
.contact {
    position: absolute;
    bottom: -390px;
    left: 1400px;
}
.footer {
    position: relative;
}
.hr {
    position: absolute;
    bottom: -500px;
    /* left: 500px; */
}
.bm {
    
    width: 1515px;
    left: 50px;
}
.copy1 {
    position: absolute;
    left: 600px;
    padding: 10px;
}
.text9 {
    color: orangered;
}
.soso {
    position: absolute;
    bottom: -63px;
    left: 1300px;
    padding: 15px;
}
@media(max-width: 600px){

    .navbar-menu{
        width: 0;
        height: 0;
        overflow: hidden;
    }
    .adham {
        width: 40%;
        height: auto;
        left: 0;
    }
    .xx {
        position: relative;
        left: 0;
        width: 40%;
        height: 40%;
    }
    .vv {
        width: 110%;
        height: auto;
    }
    .font {
        width: 190%;
        height: auto;
        font-size: 10px;
    }
    .aa {
        font-size: 15px;
    }
}
